.percents {
    margin-top: 20px;
}

.documents {
    margin-top: 40px;
}

.spinner-percentage {
    position: relative;
    font-weight: 700;
    bottom: 60px;
}

.mat-card {
    max-width: 960px;
    margin: auto;
}