<h1>Welcome!</h1>
<p>
    The components below are linked in real-time using the same data set.
</p>
<p>
    They are able to be opened locally in two different browser tabs, or on different devices.
</p>
<p>
    In the future, a more complex application could be synced to update in real-time for demo purposes.
</p>
<mat-list>
    <mat-list-item>
        <a routerLink="/admin" routerLinkActive="active">Admin Component</a>
    </mat-list-item>
    <mat-list-item>
        <a routerLink="/moderator" routerLinkActive="active">Moderator Component</a>
    </mat-list-item>
    <mat-list-item>
        <a routerLink="/upload" routerLinkActive="active">Upload Component</a>
    </mat-list-item>
    <mat-list-item>
        <a routerLink="/validate" routerLinkActive="active">Validate Component</a>
    </mat-list-item>
</mat-list>