<form [formGroup]="heroForm" (submit)="updateHero()">
    <mat-list>
        <ng-container *ngFor="let hero of heroes | async; let i = index">
            <mat-list-item>
                <p *ngIf="!heroFoci[hero.id]" (focus)="onFocus(hero.id)" tabindex={{i}}>
                    {{ hero.name }}
                </p>
                <mat-form-field *ngIf="heroFoci[hero.id]" >
                    <input matInput #nameInput formControlName="name" tabindex={{i}}
                    (blur)="onBlur(hero.id)">
                </mat-form-field>

            </mat-list-item>
        </ng-container>
    </mat-list>
</form>

<p>Each piece of data can be clicked and edited. Press enter to save changes once edits are made.</p>